::-webkit-scrollbar {
    width: 6px;
}

/* Track */
/*::-webkit-scrollbar-track {*/
/*    !*box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.29);*!*/
/*}*/

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #60606020;
    -webkit-transition: background-color 6s;
    transition: background-color 6s;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}
